doctype html              
html. 
    <body>     
        <div>Your Mileage is #{title}  </div>
    </body>
//- block content
  //- h1= title
  //- p #{title}
  //- a(href=`mailto:colm.begley@derrystrabane.com`) Send an email
