extends layout
doctype html              
html. // THAT DOT
    <body>     
        <div>Hello, yes this is dog</div>
    </body>
//- block content
  //- h1= title
  //- p #{title}
  //- a(href=`mailto:colm.begley@derrystrabane.com`) Send an email
