doctype html              
html. 
    <body>
        <p id="test" value=""></p>
        <script>
            var test = window.localStorage.mydata;
            document.getElementById("test").innerHTML = test;
        </script>     
        <div>Welcome #{user}</div>
    </body>
//- block content
  //- h1= title
  //- p #{title}
  //- a(href=`mailto:colm.begley@derrystrabane.com`) Send an email
